*{
  font-family: Lobster;
  color:blue;
}
.side1{
  background-color: #E9A200;
  width:20%;
  height: 100%;

}
#side h1{
  position: relative;
  top:10%;
  left:9%;
  font-size: 3em;


}
#menu-box{
  background-color: inherit;
  position: relative;
  width:200px;
  height:200px;
  margin-left:auto;
  margin-right:auto;
  top:10%;
  /*
  top:1em;
  margin: auto;
  height: 80%;
  width:80%;
  display:block;*/

}
#menu-box ul{
  list-style-type: none;
}
#menu-box li{
  margin-top: 10px;
  margin-bottom:10px;
  font-size: 1.75em;
}

/* Makes every thing edge to edge*/
html,body{
  margin:0;
  padding:0;
  background-color: black;
}

/* Style for content*/
#orange{
  background: blue;
  
}

.content{
  position: absolute !important;
  left:20%;
  top:0%;
  width:80%;
  height: 100%;
  background: blue;
}

.content h1{
  
  font-size:3em;               
  left:30px;
  color:#E9A200;

}

.content p{

  color: #E9A200;
}
.view{
  position: relative;
  border:dashed black 2px;
    
  width: 80%;
  height:80%;   
  top:10%;
  left:10%;                                                                                                                                                                                                                                                                         
}